.img-container-5 {
  max-width: 475px;
}

.container-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 100px;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 160px;
}

.titulo-container-5 {
  grid-column: 1/-1;
  text-align: center;
  height: auto;
  margin-bottom: 140px;
}

.titulo-container-5 h1 {
  font-family: "Montserrat Alternates", Arial, sans-serif;
  color: #080811;
  font-size: 3rem;
  font-weight: 600;
}

.paragrafo-container-5 {
  font-size: 1.5rem;
  max-width: 40ch;
  color: #171827;
  line-height: 2.3rem;
  font-weight: 400;
  position: relative;
}

.botao-container-5 {
  font-family: "Roboto Flex", Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  display: inline-block;
  text-transform: uppercase;
  background: linear-gradient(#fea300, #f52c00);
  color: #171827;
  padding: 10px 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  margin-top: 60px;
}

.botao-container-5:hover {
  box-shadow: none;
  border-radius: 25px;
}

@media (max-width: 1820px) {
  .container-5 {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 100px;
    margin-bottom: 140px;
  }
}

@media (max-width: 1450px) {
  .titulo-container-5 {
    margin-bottom: 40px;
  }

  .titulo-container-5 h1 {
    font-size: 2.5rem;
    position: relative;
  }

  .paragrafo-container-5 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    max-width: 40ch;
  }
}

@media (max-width: 1280px) {
  .container-5 {
    margin-top: 70px;
    margin-bottom: 160px;
    gap: 30px 0px;
  }

  .titulo-container-5 {
    margin-bottom: 70px;
  }

  .titulo-container-5 h1 {
    font-size: 2.25rem;
    position: relative;
  }

  .paragrafo-container-5 {
    font-size: 1.2rem;
    line-height: 1.68rem;
  }

  .img-container-5 img {
    max-width: 355px;
  }
}

@media (max-width: 1100px) {
  .container-5 {
    gap: 50px 100px;
  }
}

@media (max-width: 950px) {
  .container-5 {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 70px;
    gap: 0px 100px;
  }

  .conteudo-container-5 {
    display: flex;
    flex-direction: column;
  }

  .botao-container-5 {
    place-self: center;
  }

  .titulo-container-5 {
    margin-bottom: 90px;
  }

  .img-container-5 {
    order: 2;
    margin-top: 80px;
  }

  .texto-container-5 {
    order: 1;
  }
}

@media (max-width: 500px) {
  .titulo-container-5 {
    margin-bottom: 40px;
  }

  .titulo-container-5 h1 {
    font-size: 2rem;
  }

  .paragrafo-container-5 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .img-container-5 img {
    max-width: 275px;
  }
}

@media (max-width: 400px) {
  .container-5 {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
